<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ce0941a.logicat2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    
    <supports-screens
  		android:smallScreens="true"
  		android:normalScreens="true"
  		android:largeScreens="true"
  		android:xlargeScreens="true"
  		android:anyDensity="true"
  		android:resizeable="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="Splash"
            android:label="Welcome to LogiCat 2.0" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MainMenu"
            android:label="         Main Screen" >
            <intent-filter>
                <action android:name="com.ce0941a.logicat2.MAINMENU" />
	           <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity 	android:name="EditCat"
            		android:label="Drawing Screen"></activity>
        <activity 	android:name="CatGallery"
            		android:label="Your Images"></activity>
        <activity 	android:name="ImageAdapter"
            		android:label="ImageAdapter"></activity>
        <activity 	android:name="GalleryScreen"
            		android:label=" Gallery Screen "></activity>
        <activity 	android:name="UpLoad"
            		android:label=" Media "></activity>
        
        
    </application>

</manifest>
